.myroot {
  height: 100%;
  width: 100%;
  position: relative;
}

/* .layout {
  height: 100px !important;
  po
} */

.header {
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.sider {
  /* display: flex; */
  top: 64px;
  height: calc(100vh - 64px);
  z-index: 1;
}

.content {
  width: calc(100%);
  height: calc(100vh - 64px);
  margin-top: 64px;
  background-color: #fff;
  overflow-y: scroll;
}